.footer{
    background: rgba(0,0,0,0.75);
    min-height: $height-section/2;
    color: #fff;
    padding: 50px 0;
    text: {
        align: center;
    }
h2{
    font: {
        size: 21px;
    }
    &::after {
        content: url(../images/decoration_2.png);
        display: block;
        margin: 15px auto;
    
    }
   
}

ul{
    display: flex;
    justify-content: center;
   
}
li{
    list-style-type: none;
    margin: 30px 2.5px;
}
}