// Общие правила
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
font: {
    family: $font_text;
    size: 16px;
}
line-height: 1.5em; 
color: $color3;
}
section{
    min-height: $height-section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    width: 95%;
    max-width: 1200px;
}

a{
    color: #fff;
}

ul {
    list:{
        style-type: none;
    }
    margin:0;
    padding:0;
}

.title {
    
    &_orange{
    @extend %titles;
   color: $color1;
   &::after {
       content: url(../images/decoration_2.svg);
       display: block;
       margin: 15px auto;
   }
}

    &_white {
@extend %titles;
color: #fff;
&::after {
    content: url(../images/Vector.svg);
    display: block;
    margin: 15px auto;

}
    }
}
