.menu{
    background: {
        image: url(../images/pic4.png), linear-gradient(270deg, #FFFFFF 18.35%, #F3F1F1 84.09%);
        blend-mode: overlay;
        size: contain;
    }
    box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
    padding: 100px 0;
    
h2{
   
    text: {
        align: center;
    }
}
&_item{
list-style-type: none;
}
p:first-child{
    display: flex;
    justify-content: space-between;
    color: $color1;
    font: {
        family: $font_header;
        weight: normal;
        size: 21px;
    }
line-height: 1,71rem;
border-bottom: 1px solid $color1 ;
}
}