.navigation{
    min-height: $height-section/8;
    background-color: rgba(0,0,0, 0.9);
    
    &_menu{
    display: flex;
    list-style-type: none; 
    flex-direction: row;
    
    text: {
        transform: uppercase;
        align: center;
    }
   
    li{
        flex-grow: 1;
        height: 80px;
        margin: 0 15px;
        padding: 30px;

        a{
            display: block;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: #fff;
            font-weight: bold;
        }
}
    }
}
