.reservation{
    background: {
        image: url(../images/pattern.jpg), linear-gradient(270deg, #F4F2F2 18.35%, #FFFFFF 84.09%);
        blend-mode: screen;
        size: contain;
    }
    box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
    text: {
        align: center;
    }
    label{
        color: $color2;
        text-align: left;
    }

    .link{
        @extend %forma;
        background-color: $color2;
        color: #fff;
             }
            }
   
    // form{
    //     display: flex;
    //     flex-wrap: wrap ;

    //     label{
    //         @extend %forma;
    //         text-align: left;
    //         padding-top: 15px;
           
    //     }

    //     input{
    //         @extend %forma;
           
    //     }
// p{
//     margin: 0 25px;
    

// }

//         .link{
// margin: 30px auto;

// input{
//     background-color: $color2;
//     color: #fff;
// }
//     }
//     }

